[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
tensorflow-gpu = "*"
gym = "*"
keras = "*"
pyyaml = "*"
scipy = "*"
tqdm = "*"
keras-tqdm = "*"
pandas = "*"
matplotlib = "*"
argparse = "*"
"box2d-py" = "*"
pyglet = "*"
pyvirtualdisplay = "*"
scikit-image = "*"
deepdish = "*"
seaborn = "*"

[requires]
python_version = "2.7"
